<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     TP2 EXERCICE ENVOI SMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TP2 EXERCICE 2 ENVOI SMS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header color="danger">
      <ion-title><ion-button expand="full" color="light"> Espace pour envoyer des sms</ion-button></ion-title>
    </ion-list-header>
    <ion-item>
      <ion-item-divider>
        <ion-label>Saisir le numéro à envoyer un sms</ion-label>
        <ion-input type="number" placeholder="Saisir le numéro" width="10" [(ngModel)]="numero" >    </ion-input>
      </ion-item-divider>
    </ion-item>
    
    <ion-title text-center> Message</ion-title>
    <ion-item color="light">
      <ion-textarea cols=40 rows=10 placeholder="Saisir le message"  [(ngModel)]="message"> </ion-textarea>
    </ion-item>
     <ion-button expand="block"  (click)="envoyerSMS()"> Espace pour envoyer des sms</ion-button>
  </ion-list>
  
</ion-content>
